body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: #171252;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center; 
  color: #ffffff;
}

.image-gallery {
  text-align: center; 
  margin-bottom: 20px; 
}

.resized {
  width: 1080px;       
  height: auto;        
}

.button-style {
  display: inline-block;
  padding: 12px 28px;
  position: static;
  font-size: 18px;
  font-weight: 10;
  text-decoration: none; 
  color: #ffffff;
  background-color: #001224;
  border: 2px solid #030f1b;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}


.button-style:hover {
  background-color: #ff0000;
  border-color: #ff0000;
  color: black;

}



.button-container {
  text-align: center; 
  margin: 20px 0; 
}